.box{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    
}
button{
    font-family: "Permanent Marker";
    font-size: 15px;
    width: 75px;
    height: 25px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
    color: black;
    background-color: white;
}
button.clicked{
    background-color: white;
    color: deepskyblue;
}
input{
    font-family: "Permanent Marker";
    font-size: 10px;
    width: 100px;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}
label{
    font-family: "Permanent Marker"; 
}

p{
    font-family: "Permanent Marker";
}
